direct-sitemap-parsing/sitemaps1.csv
direct-sitemap-parsing/sitemaps1.json
direct-sitemap-parsing/test_output.csv
direct-sitemap-parsing/test_output.json
/Users/harkmorper/learning-scrapers/sitemaps.csv
/Users/harkmorper/learning-scrapers/sitemaps.json